{% trans_default_domain 'FOSUserBundle' %}

<h1 class="title">Registro</h1>
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'contact-form'}}) }}
<div class="form-group">
    {{ form_row(form.email,{ 'attr': {'class': "form-control", 'placeholder': 'form.email'|trans}, 'label':false }) }}
</div>
<div class="form-group">
    {{ form_row(form.username,{ 'attr': {'class': "form-control", 'placeholder': 'form.username'|trans}, 'label':false }) }}
</div>
<div class="form-group">
    {{ form_row(form.nombre,{ 'attr': {'class': "form-control", 'placeholder': 'form.nombre'|trans}, 'label':false }) }}
</div>
<div class="form-group">
    {{ form_row(form.provincia,{ 'attr': {'class': "form-control", 'placeholder': 'form.provincia'|trans}, 'label':false }) }}
</div>
<div></div>
<div class="form-group">
    {{ form_row(form.localidad,{ 'attr': {'class': "form-control col-7 float-left", 'placeholder': 'form.localidad'|trans}, 'label':false }) }}
</div>
<div class="form-group">
    {{ form_row(form.cp,{ 'attr': {'class': "form-control col-4 float-right", 'placeholder': 'form.cp'|trans, 'pattern': "((0[1-9]|5[0-2])|[1-4][0-9])[0-9]{3}"}, 'label':false }) }}
</div>
<div class="form-group" style="margin-top: 70px">
    {{ form_row(form.plainPassword.first,{ 'attr': {'class': "form-control", 'placeholder': 'form.password'|trans, 'pattern':"^[a-zA-Z0-9]{8,20}*$"}, 'label':false }) }}
</div>
<div class="form-group">
    {{ form_row(form.plainPassword.second,{ 'attr': {'class': "form-control", 'placeholder': 'form.password_confirmation'|trans},'pattern': '^(?=.*[A-Z].*[A-Z])(?=.*[!@#$&*])(?=.*[0-9].*[0-9])(?=.*[a-z].*[a-z].*[a-z]).{8}', 'label':false }) }}
</div>

<div style="margin-top: 20px">
    <input type="submit" class="btn btn-secondary" value="{{ 'registration.submit'|trans }}"/>
</div>
{{ form_end(form) }}
